.introduction {
  &__title {
    color: #fff;
    font-weight: 600;
    line-height: 107.143%;
    letter-spacing: 0.056rem;
    margin-bottom: 2rem;
  }

  &__description {
    color: #cfcfcf;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.02rem;
    margin-bottom: 4rem;
  }

  &__button {
    border-radius: 5.4rem;
    background: #17e3a6;
    color: #000;
    font-weight: 400;
    line-height: 100%;
  }

}
